/* banner styles */


.banner-full {
    display: grid;

    .indexBannerImg {
        grid-area: 1/1;
        max-height: 500px;
        min-height: 400px;
    }
    .indexBannerCon {
        grid-area: 1/1;
        position: relative;
        place-items: center;
        max-width: 600px;

        h2 {
            text-align: center;
            font-family: $accentFont;
            font-weight: 700;
            font-size: 3.5em;
            line-height: 0.8;
            text-shadow: 4px 3px 12px $gray-400;
        }
    }

    .indexBannerCard, .card {
        background-color: rgba(0,0,0,0);
        border: 0;
    }
}

.projectsPageBannerCard {
    text-shadow: 2px 2px 12px $gray-500;

    h2 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: $breakpoint-sm) {
    .banner-full {
        .indexBannerCon {
            h4 {
                font-size: 4em;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .projectsPageBannerCard {
        text-shadow: 2px 3px 12px $gray-500;
    
        p {
            font-size: 1.25em;
        }
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .banner-full {
        .indexBannerCon {
            max-width: 700px;
        }
    }
}