/* index styles */


/* quicklinks styles*/

.quicklinksCon {
    .linksCon { 
        flex-direction: column;
    }
    a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        padding: 0.85em 0.25em;

        background-color: $primary-300;
        color: $color-white;
        text-align: center;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.section-title {
    z-index: 10;
    position: relative;

    margin-bottom: 0;
    padding: 0.125em 0;
    font-weight: 700;
    font-size: 3em;
    color: $color-white;
    line-height: 0.5;
    text-shadow: 1px 2px 6px $gray-500;
}


/* about styles */

.aboutmeImg {
    width: 100%;
    max-height: 220px;
}

.about-intro {
    font-family: $accentFont;
    font-size: 2.75em;
    font-weight: lighter;
}

.aboutmeCards {
    background-color: $secondary-500;
    border-color: $secondary-400;

    .card-title {
        border-bottom: 1px solid $secondary-400;
        text-align: center;
        padding-bottom: 0.85em;
    }

    .titleIcon {
        margin-left: 0.5em;
        font-weight: 400;
    }

    .skillsText p {
        text-align: center;
        margin: 0.125em;
        padding: 0.25em 0.5em;
        background-color: $secondary-400;
        border-radius: $border-radius;
        font-size: 0.8em;
    }
}


/* contact styles */ 

.contact-card {
    background-color: $secondary-400;
    color: $color-white;

    a {
        color: inherit;

        &:hover {
            color: $gray-200;
        }
    }

    .contact-email-link {
        font-size: 1.5em;
        border-bottom: 2px solid $color-white;
    }
}

.contactImg {
    margin: 0 auto 1em;
    max-width: 400px;
}


@media only screen and (min-width: $breakpoint-xs) {
    .quicklinksCon {
        .linksCon {
            flex-direction: row;
        }
        a {
            padding: 1em 0.45em;

            &:hover {
                background-color: $primary-400;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .quicklinksCon {
        a {
            padding: 1.125em 0.65em;
            font-size: 1em;
        }
    }

    .section-title {
        font-size: 8vw;
    }

    .contactImg {
        float: right;
        width: 100%;
        max-width: 375px;
        margin: 1em;
    }

    .contact-card {
        .contact-email-link {
            font-size: 1.85em;
        }
    }
}


@media only screen and (min-width: $breakpoint-md) {
    .aboutmeImg {
        max-height: 300px;
        height: 100%;
    }
}


@media only screen and (min-width: $breakpoint-lg) {
    .section-title {
        font-size: 5em;
    }
}