/* global styles */

* {
    box-sizing: border-box;
}
  
body {
    background-color: $purple-500;
    color: $white-100;
    font-size: 100%;
    margin: 0;
    font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
}
  
a {
    color: $blue-300;
    @include primary-transition;

    &:hover {
        color: $blue-200;
    }
}

h1, h2, h3, h4, h5 {
    letter-spacing: -0.02em;
    
    a {
        text-decoration: none;
    }
}


.main-con {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content-con {
        flex-grow: 1;
    }
}