/* variables */

$color-black: #000;
$color-white: #fff;

$white-100: #f2f2f2;

$gray-100: #d9d9d9;
$gray-200: #b3b3b3;
$gray-300: #666666;
$gray-400: #333333;
$gray-500: #1a1a1a;

$blue-100: #BBE8F2;
$blue-200: #7AD6E8;
$blue-300: #01B0D3;
$blue-400: #0F89A1;
$blue-500: #0F5765;

$purple-100: #C0BFD7;
$purple-200: #726EA6;
$purple-300: #433F88;
$purple-400: #312f52;
$purple-500: #242333;

$primary-100: $blue-100;
$primary-200: $blue-200;
$primary-300: $blue-300;
$primary-400: $blue-400;
$primary-500: $blue-500;

$secondary-100: $purple-100;
$secondary-200: $purple-200;
$secondary-300: $purple-300;
$secondary-400: $purple-400;
$secondary-500: $purple-500;

$mainFont: 'Montserrat-variable';
$accentFont: 'Caveat-variable';

$breakpoint-xs: 275px;
$breakpoint-sm: 575px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$border-radius: 0.45em;


@mixin primary-transition() {
    transition: all 0.14s ease-in-out;
}
@mixin secondary-transition() {
    transition: all 0.18s ease-in-out;
}